/*!
 * Start Bootstrap - Grayscale v5.0.8 (https://startbootstrap.com/template-overviews/grayscale)
 * Copyright 2013-2019 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-grayscale/blob/master/LICENSE)
 */

#mainNav {
  min-height: 56px;
  background-color: #fff;
}

#mainNav .navbar-toggler {
  font-size: 80%;
  padding: 0.75rem;
  color: #64a19d;
  border: 1px solid #64a19d;
}

#mainNav .navbar-toggler:focus {
  outline: none;
}

#mainNav .navbar-brand {
  color: #161616;
  font-weight: 700;
  padding: .9rem 0;
}

#mainNav .navbar-nav .nav-item:hover {
  color: fade(white, 80%);
  outline: none;
  background-color: transparent;
}

#mainNav .navbar-nav .nav-item:active, #mainNav .navbar-nav .nav-item:focus {
  outline: none;
  background-color: transparent;
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: none;
    background-color: transparent;
    -webkit-transition: background-color 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
  }
  #mainNav .navbar-brand {
    padding: .5rem 0;
    color: rgba(255, 255, 255, 0.5);
  }
  #mainNav .nav-link {
    -webkit-transition: none;
    transition: none;
    padding: 2rem 1.5rem;
    color: rgba(255, 255, 255, 0.5);
  }
  #mainNav .nav-link:hover {
    color: rgba(255, 255, 255, 0.75);
  }
  #mainNav .nav-link:active {
    color: white;
  }
  #mainNav.navbar-shrink {
    background-color: #fff;
  }
  #mainNav.navbar-shrink .navbar-brand {
    color: #161616;
  }
  #mainNav.navbar-shrink .nav-link {
    color: #161616;
    padding: 1.5rem 1.5rem 1.25rem;
    border-bottom: 0.25rem solid transparent;
  }
  #mainNav.navbar-shrink .nav-link:hover {
    color: #64a19d;
  }
  #mainNav.navbar-shrink .nav-link:active {
    color: #467370;
  }
  #mainNav.navbar-shrink .nav-link.active {
    color: #64a19d;
    outline: none;
    border-bottom: 0.25rem solid #64a19d;
  }
}

/* tiles1 */

.tiles1 {
display: -moz-flex;
display: -webkit-flex;
display: -ms-flex;
display: flex;
-moz-flex-wrap: wrap;
-webkit-flex-wrap: wrap;
-ms-flex-wrap: wrap;
flex-wrap: wrap;
border-top: 0 !important;
color: white;
}

.tiles1 + * {
    border-top: 0 !important;
}

.tiles1 article {
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-transition: -moz-transform 0.25s ease, opacity 0.25s ease, -moz-filter 1s ease, -webkit-filter 1s ease;
    -webkit-transition: -webkit-transform 0.25s ease, opacity 0.25s ease, -webkit-filter 1s ease, -webkit-filter 1s ease;
    -ms-transition: -ms-transform 0.25s ease, opacity 0.25s ease, -ms-filter 1s ease, -webkit-filter 1s ease;
    transition: transform 0.25s ease, opacity 0.25s ease, filter 1s ease, -webkit-filter 1s ease;
    padding: 4em 4em 2em 4em ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: default;
    height: 40vh;
    max-height: 40em;
    min-height: 23em;
    overflow: hidden;
    position: relative;
    width: 40%;
    color: white;
}

    .tiles1 article .image {
        display: none;
    }

    .tiles1 article header {
        position: relative;
        color: white;
        z-index: 3;
    }

    .tiles1 article h3 {
        font-size: 1.75em;
        color: white;
    }

        .tiles1 article h3 a:hover {
            color: inherit !important;
        }

    .tiles1 article .link.primary {
        border: 0;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 4;
    }

    .tiles1 article:before {
        -moz-transition: opacity 0.5s ease;
        -webkit-transition: opacity 0.5s ease;
        -ms-transition: opacity 0.5s ease;
        transition: opacity 0.5s ease;
        bottom: 0;
        content: '';
        display: block;
        height: 100%;
        left: 0;
        color: white;
        position: absolute;
        width: 100%;
        z-index: 2;
        opacity: 0.8; /*opacidad color*/
        
    }

    .tiles1 article:after {
        background-color: rgb(36, 41, 67, 0.25);
        content: '';
        display: block;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 1;
        color: white;
    }

    .tiles1 article:hover:before {
        opacity: 0;
        color: white;
    }

    .tiles1 article.is-transitioning {
        -moz-transform: scale(0.95);
        -webkit-transform: scale(0.95);
        -ms-transform: scale(0.95);
        transform: scale(0.95);
        -moz-filter: blur(0.5em);
        -webkit-filter: blur(0.5em);
        -ms-filter: blur(0.5em);
        filter: blur(0.5em);
        opacity: 0;
        color: white;
    }

    .tiles1 article:nth-child(4n - 1), .tiles1 article:nth-child(4n - 2) {
        width: 60%;
    }

    .tiles1 article:nth-child(6n - 5):before {
        background-color: #052460;
    }

    .tiles1 article:nth-child(6n - 4):before {
        background-color: #d62027;
    }

    .tiles1 article:nth-child(6n - 3):before {
        background-color: #00964f;
    }

    .tiles1 article:nth-child(6n - 2):before {
        background-color: #d62027;
    }

    .tiles1 article:nth-child(6n - 1):before {
        background-color: #8ea9e8;
    }

    .tiles1 article:nth-child(6n):before {
        background-color: #87c5a4;
    }

@media screen and (max-width: 1280px) {

    .tiles1 article {
        padding: 4em 3em 2em 3em ;
        height: 30vh;
        max-height: 30em;
        min-height: 20em;
    }

}

@media screen and (max-width: 980px) {

    .tiles1 article {
        width: 50% !important;
    }

}

@media screen and (max-width: 736px) {

    .tiles1 article {
        padding: 3em 1.5em 1em 1.5em ;
        height: 16em;
        max-height: none;
        min-height: 0;
    }

        .tiles1 article h3 {
            font-size: 1.5em;
        }

}

@media screen and (max-width: 480px) {

    .tiles1 {
        display: block;
    }

        .tiles1 article {
            height: 20em;
            width: 100% !important;
        }

}


/* tiles2 */

.tiles2 {
display: -moz-flex;
display: -webkit-flex;
display: -ms-flex;
display: flex;
-moz-flex-wrap: wrap;
-webkit-flex-wrap: wrap;
-ms-flex-wrap: wrap;
flex-wrap: wrap;
border-top: 0 !important;
color: white;
}

.tiles2 + * {
    border-top: 0 !important;
}

.tiles2 article {
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-transition: -moz-transform 0.25s ease, opacity 0.25s ease, -moz-filter 1s ease, -webkit-filter 1s ease;
    -webkit-transition: -webkit-transform 0.25s ease, opacity 0.25s ease, -webkit-filter 1s ease, -webkit-filter 1s ease;
    -ms-transition: -ms-transform 0.25s ease, opacity 0.25s ease, -ms-filter 1s ease, -webkit-filter 1s ease;
    transition: transform 0.25s ease, opacity 0.25s ease, filter 1s ease, -webkit-filter 1s ease;
    padding: 4em 4em 2em 4em ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: default;
    height: 40vh;
    max-height: 40em;
    min-height: 23em;
    overflow: hidden;
    position: relative;
    width: 40%;
}

    .tiles2 article .image {
        display: none;
    }

    .tiles2 article header {
        position: relative;
        color: white;
        z-index: 3;
    }

    .tiles2 article h3 {
        font-size: 1.75em;
        color: white;
    }

        .tiles2 article h3 a:hover {
            color: inherit !important;
        }

    .tiles2 article .link.primary {
        border: 0;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 4;
    }

    .tiles2 article:before {
        -moz-transition: opacity 0.5s ease;
        -webkit-transition: opacity 0.5s ease;
        -ms-transition: opacity 0.5s ease;
        transition: opacity 0.5s ease;
        bottom: 0;
        content: '';
        display: block;
        height: 100%;
        left: 0;
        color: white;
        position: absolute;
        width: 100%;
        z-index: 2;
        opacity: 0.8; /*opacidad color*/
        
    }

    .tiles2 article:after {
        background-color: rgb(36, 41, 67, 0.25);
        content: '';
        display: block;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 1;
        color: white;
    }

    .tiles2 article:hover:before {
        opacity: 0;
        color: white;
    }

    .tiles2 article.is-transitioning {
        -moz-transform: scale(0.95);
        -webkit-transform: scale(0.95);
        -ms-transform: scale(0.95);
        transform: scale(0.95);
        -moz-filter: blur(0.5em);
        -webkit-filter: blur(0.5em);
        -ms-filter: blur(0.5em);
        filter: blur(0.5em);
        opacity: 0;
        color: white;
    }

    .tiles2 article:nth-child(4n - 4), .tiles2 article:nth-child(4n - 3) {
        width: 60%;
    }

    .tiles2 article:nth-child(6n - 5):before {
        background-color: #00964f;
    }

    .tiles2 article:nth-child(6n - 4):before {
        background-color: #052460;
    }

    .tiles2 article:nth-child(6n - 3):before {
        background-color: #00964f;
    }

    .tiles2 article:nth-child(6n - 2):before {
        background-color: #d62027;
    }

    .tiles2 article:nth-child(6n - 1):before {
        background-color: #8ea9e8;
    }

    .tiles2 article:nth-child(6n):before {
        background-color: #87c5a4;
    }

@media screen and (max-width: 1280px) {

    .tiles2 article {
        padding: 4em 3em 2em 3em ;
        height: 30vh;
        max-height: 30em;
        min-height: 20em;
    }

}

@media screen and (max-width: 980px) {

    .tiles2 article {
        width: 50% !important;
    }

}

@media screen and (max-width: 736px) {

    .tiles2 article {
        padding: 3em 1.5em 1em 1.5em ;
        height: 16em;
        max-height: none;
        min-height: 0;
    }

        .tiles2 article h3 {
            font-size: 1.5em;
        }

}

@media screen and (max-width: 480px) {

    .tiles2 {
        display: block;
    }

        .tiles2 article {
            height: 20em;
            width: 100% !important;
        }

}

/* Tiles */

.tiles {
display: -moz-flex;
display: -webkit-flex;
display: -ms-flex;
display: flex;
-moz-flex-wrap: wrap;
-webkit-flex-wrap: wrap;
-ms-flex-wrap: wrap;
flex-wrap: wrap;
border-top: 0 !important;
color: white;
}

.tiles + * {
    border-top: 0 !important;
}

.tiles article {
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-transition: -moz-transform 0.25s ease, opacity 0.25s ease, -moz-filter 1s ease, -webkit-filter 1s ease;
    -webkit-transition: -webkit-transform 0.25s ease, opacity 0.25s ease, -webkit-filter 1s ease, -webkit-filter 1s ease;
    -ms-transition: -ms-transform 0.25s ease, opacity 0.25s ease, -ms-filter 1s ease, -webkit-filter 1s ease;
    transition: transform 0.25s ease, opacity 0.25s ease, filter 1s ease, -webkit-filter 1s ease;
    padding: 4em 4em 2em 4em ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: default;
    height: 40vh;
    max-height: 40em;
    min-height: 23em;
    overflow: hidden;
    position: relative;
    width: 40%;
    color: white;
}

    .tiles article .image {
        display: none;
    }

    .tiles article header {
        position: relative;
        color: white;
        z-index: 3;
    }

    .tiles article h3 {
        font-size: 1.75em;
        color: white;
    }

        .tiles article h3 a:hover {
            color: inherit !important;
        }

    .tiles article .link.primary {
        border: 0;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 4;
    }

    .tiles article:before {
        -moz-transition: opacity 0.5s ease;
        -webkit-transition: opacity 0.5s ease;
        -ms-transition: opacity 0.5s ease;
        transition: opacity 0.5s ease;
        bottom: 0;
        content: '';
        display: block;
        height: 100%;
        left: 0;
        color: white;
        position: absolute;
        width: 100%;
        z-index: 2;
        
    }

    .tiles article:after {
        background-color: rgba(36, 41, 67, 0.25);
        content: '';
        display: block;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 1;
        color: white;
    }

    .tiles article:hover:before {
        opacity: 0;
        color: white;
    }

    .tiles article.is-transitioning {
        -moz-transform: scale(0.95);
        -webkit-transform: scale(0.95);
        -ms-transform: scale(0.95);
        transform: scale(0.95);
        -moz-filter: blur(0.5em);
        -webkit-filter: blur(0.5em);
        -ms-filter: blur(0.5em);
        filter: blur(0.5em);
        opacity: 0;
        color: white;
    }

    .tiles article:nth-child(4n - 1), .tiles article:nth-child(4n - 2) {
        width: 60%;
    }

    .tiles article:nth-child(6n - 5):before {
        background-color: #666666;
    }

    .tiles article:nth-child(6n - 4):before {
        background-color: #052460;
    }

    .tiles article:nth-child(6n - 3):before {
        background-color: #00964f;
    }

    .tiles article:nth-child(6n - 2):before {
        background-color: #d62027;
    }

    .tiles article:nth-child(6n - 1):before {
        background-color: #8ea9e8;
    }

    .tiles article:nth-child(6n):before {
        background-color: #87c5a4;
    }

@media screen and (max-width: 1280px) {

    .tiles article {
        padding: 4em 3em 2em 3em ;
        height: 30vh;
        max-height: 30em;
        min-height: 20em;
    }

}

@media screen and (max-width: 980px) {

    .tiles article {
        width: 50% !important;
    }

}

@media screen and (max-width: 736px) {

    .tiles article {
        padding: 3em 1.5em 1em 1.5em ;
        height: 16em;
        max-height: none;
        min-height: 0;
    }

        .tiles article h3 {
            font-size: 1.5em;
        }

}

@media screen and (max-width: 480px) {

    .tiles {
        display: block;
    }

        .tiles article {
            height: 20em;
            width: 100% !important;
        }

}

/* tilles */

.tilles {
display: -moz-flex;
display: -webkit-flex;
display: -ms-flex;
display: flex;
-moz-flex-wrap: wrap;
-webkit-flex-wrap: wrap;
-ms-flex-wrap: wrap;
flex-wrap: wrap;
border-top: 0 !important;
color: red;
}

.tilles + * {
    border-top: 0 !important;
}

.tilles article {
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-transition: -moz-transform 0.25s ease, opacity 0.25s ease, -moz-filter 1s ease, -webkit-filter 1s ease;
    -webkit-transition: -webkit-transform 0.25s ease, opacity 0.25s ease, -webkit-filter 1s ease, -webkit-filter 1s ease;
    -ms-transition: -ms-transform 0.25s ease, opacity 0.25s ease, -ms-filter 1s ease, -webkit-filter 1s ease;
    transition: transform 0.25s ease, opacity 0.25s ease, filter 1s ease, -webkit-filter 1s ease;
    padding: 3em 0em 2em 0em ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: default;
    height: 40vh;
    max-height: 40em;
    min-height: 23em;
    overflow: hidden;
    position: relative;
    width: 40%;
    color: #666666;
}

    .tilles article .image {
        display: none;
    }

    .tilles article header {
        padding: 3em 2em 2em 2em ;
        position: relative;
        z-index: 3;
    }
    
    .tilles article iframe {
        
        position: relative;
        top: 0;
        left: -5;       
        z-index: 3;
    }

    .tilles article h3 {
        font-size: 1em;
        color: white;
    }

        .tilles article h3 a:hover {
            color: inherit !important;
        }

    .tilles article .link.primary {
        border: 0;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 4;
    }

    .tilles article:before {
        -moz-transition: opacity 0.5s ease;
        -webkit-transition: opacity 0.5s ease;
        -ms-transition: opacity 0.5s ease;
        transition: opacity 0.5s ease;
        bottom: 0;
        content: '';
        display: block;
        height: 100%;
        left: 0;
        color: white;
        position: absolute;
        width: 100%;
        z-index: 2;
        opacity: 0; /*opacidad color*/
        
    }


    .tilles article:nth-child(4n - 3), .tilles article:nth-child(4n - 4) {
        width: 60%;
    }

    .tilles article:nth-child(6n - 5):before {
        background-color: #ffffff;
    }

    .tilles article:nth-child(6n - 4):before {
        background-color: #ffffff;
    }

    .tilles article:nth-child(6n - 3):before {
        background-color: #666666;
    }

    .tilles article:nth-child(6n - 2):before {
        background-color: #ffffff;
    }

    .tilles article:nth-child(6n - 1):before {
        background-color: #8ea9e8;
    }

    .tilles article:nth-child(6n):before {
        background-color: #87c5a4;
    }

@media screen and (max-width: 1280px) {

    .tilles article {
        padding: 6em 1em 6em 1em ;
        height: 30vh;
        max-height: 30em;
        min-height: 20em;
    }

}

@media screen and (max-width: 980px) {

    .tilles article {
        width: 50% !important;
    }

}

@media screen and (max-width: 736px) {

    .tilles article {
        padding: 6em 0em 6em 0em ;
        height: 23em;
        max-height: none;
        min-height: 0;
    }

        .tilles article h3 {
            font-size: 0.5em;
        }
        .tilles article p {
            font-size: 0.75em;
        }

}

@media screen and (max-width: 480px) {

    .tilles {
        display: block;
    }

        .tilles article {
            height: 20em;
            width: 100% !important;
        }

}

/* tilles2 */

.tilles2 {
display: -moz-flex;
display: -webkit-flex;
display: -ms-flex;
display: flex;
-moz-flex-wrap: wrap;
-webkit-flex-wrap: wrap;
-ms-flex-wrap: wrap;
flex-wrap: wrap;
border-top: 0 !important;
color: red;
}

.tilles2 + * {
    border-top: 0 !important;
}

.tilles2 article {
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-transition: -moz-transform 0.25s ease, opacity 0.25s ease, -moz-filter 1s ease, -webkit-filter 1s ease;
    -webkit-transition: -webkit-transform 0.25s ease, opacity 0.25s ease, -webkit-filter 1s ease, -webkit-filter 1s ease;
    -ms-transition: -ms-transform 0.25s ease, opacity 0.25s ease, -ms-filter 1s ease, -webkit-filter 1s ease;
    transition: transform 0.25s ease, opacity 0.25s ease, filter 1s ease, -webkit-filter 1s ease;
    padding: 3em 0em 2em 0em ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: default;
    height: 40vh;
    max-height: 40em;
    min-height: 23em;
    overflow: hidden;
    position: relative;
    width: 40%;
    color: #ffffff;
}

    .tilles2 article .image {
        display: none;
    }

    .tilles2 article header {
        padding: 3em 2em 2em 2em ;
        position: relative;
        z-index: 3;
    }
    
    .tilles2 article iframe {
        
        position: relative;
        top: 0;
        left: -5;       
        z-index: 3;
    }

    .tilles2 article h3 {
        font-size: 1em;
        color: white;
    }

        .tilles2 article h3 a:hover {
            color: white;
        }

    .tilles2 article .link.primary {
        border: 0;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 4;
    }

    .tilles2 article:before {
        -moz-transition: opacity 0.5s ease;
        -webkit-transition: opacity 0.5s ease;
        -ms-transition: opacity 0.5s ease;
        transition: opacity 0.5s ease;
        bottom: 0;
        content: '';
        display: block;
        height: 100%;
        left: 0;
        color: white;
        position: absolute;
        width: 100%;
        z-index: 2;
        opacity: 0; /*opacidad color*/
        
    }


    .tilles2 article:nth-child(4n - 1), .tilles2 article:nth-child(4n - 2) {
        width: 60%;
    }



@media screen and (max-width: 1280px) {

    .tilles2 article {
        padding: 6em 1em 6em 1em ;
        height: 30vh;
        max-height: 30em;
        min-height: 20em;
    }

}

@media screen and (max-width: 980px) {

    .tilles2 article {
        width: 50% !important;
    }

}

@media screen and (max-width: 736px) {

    .tilles2 article {
        padding: 6em 0em 6em 0em ;
        height: 23em;
        max-height: none;
        min-height: 0;
    }

        .tilles2 article h3 {
            font-size: 0.5em;
        }
        .tilles2 article p {
            font-size: 0.75em;
        }

}

@media screen and (max-width: 480px) {

    .tilles2 {
        display: block;
    }

        .tilles2 article {
            height: 20em;
            width: 100% !important;
        }

}



.masthead {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 35rem;
  padding: 15rem 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(22, 22, 22, 0.3)), color-stop(75%, rgba(22, 22, 22, 0.7)), to(#161616)), url("../img/bg-masthead.jpg");
  background: linear-gradient(to bottom, rgba(22, 22, 22, 0.3) 0%, rgba(22, 22, 22, 0.7) 75%, #161616 100%), url("../img/bg-masthead.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}


.zoi {
  position: relative;
  width:100%;
  height: 50%;
  min-height: 35rem;
  padding: 7rem 0;
  background: linear-gradient(to bottom, rgba(22, 22, 22, 0.3) 0%, rgba(255, 255, 255, 0.7) 50%, rgba(22, 22, 22, 0.3) 100%), url("../images/1HOME/fondo-home-b1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

.fablab {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 35rem;
  padding: 10rem 0;
  background: linear-gradient(to bottom, rgba(22, 22, 22, 0.5) 0%, rgba(22, 22, 22, 0.1) 50%, rgba(22, 22, 22, 0.5) 100%), url("../img/img-prod-1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

.servicios {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 35rem;
  padding: 10rem 0;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0.9) 100%), url("../images/2SERVICIOS/2BLOQUE1/imgs-fondo-servicios-main-_-30_.png");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

.espacios {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 35rem;
  padding: 10rem 0;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0.9) 100%),url("../images/3ESPACIOS/3BLOQUE1/fondo-espacios---30-op.png");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

.proyectos {
  position: relative;
  width:100%;
  height: 100%;
  min-height: 35rem;
  padding: 10rem 0;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0.9) 100%), url("../images/4PRODUCTOSYPROYECTOS/4BLOQUE1/imagen-fondo-proyectos-30op.png");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

.contacto {
  position: relative;
  width:100%;
  height: 100%;
  min-height: 5rem;
  padding: 3rem 0;
  background: linear-gradient(to bottom, rgba(10, 10, 10, 0.8) 0%, rgba(10, 10, 10, 0.1) 50%, rgba(22, 22, 22, 0.8) 100%), url("../images/1HOME/fondo-outro-1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}



@media only screen and (max-width: 1200px) {
  .contacto {
  position: relative;
  width:100%;
  height: 100%;
  min-height: 5rem;
  padding: 3rem 0;
  background: linear-gradient(to bottom, rgba(10, 10, 10, 1) 0%, rgba(10, 10, 10, 0.5) 50%, rgba(22, 22, 22, 1) 100%), url("../images/6CONTACTO/6BLOQUE1/imagen-fondo-contacto 50_ op.png");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
    }
}

.masthead h1 {
  font-family: 'Varela Round';
  font-size: 2.5rem;
  line-height: 2.5rem;
  letter-spacing: 0.8rem;
  background: -webkit-linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.masthead h2 {
  max-width: 20rem;
  font-size: 1rem;
}

@media (min-width: 768px) {
  .masthead h1 {
    font-size: 4rem;
    line-height: 4rem;
  }
}

@media (min-width: 992px) {
  .masthead {
    height: 100vh;
    padding: 0;
  }
  .masthead h1 {
    font-size: 6.5rem;
    line-height: 6.5rem;
    letter-spacing: 0.8rem;
  }
  .masthead h2 {
    max-width: 30rem;
    font-size: 1.25rem;
  }
}

.google-maps {
    position: relative;
    padding-bottom: 75%; 
    height: 0;
    overflow: hidden;
}
.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

.btn {
  -webkit-box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
  box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
  padding: 1.25rem 2rem;
  font-family: 'Varela Round';
  font-size: 80%;
  text-transform: uppercase;
  letter-spacing: .15rem;
  border: 0;
}

.btn-primary {
  background-color: #64a19d;
}

.btn-primary:hover {
  background-color: #4f837f;
}

.btn-primary:focus {
  background-color: #4f837f;
  color: white;
}

.btn-primary:active {
  background-color: #467370 !important;
}

.about-section {
  padding-top: 10rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#161616), color-stop(75%, rgba(22, 22, 22, 0.9)), to(rgba(22, 22, 22, 0.8)));
  background: linear-gradient(to bottom, #161616 0%, rgba(22, 22, 22, 0.9) 75%, rgba(22, 22, 22, 0.8) 100%);
}

.about-section p {
  margin-bottom: 5rem;
}

.projects-section {
  padding: 10rem 0;
}

.projects-section .featured-text {
  padding: 2rem;
}

@media (min-width: 992px) {
  .projects-section .featured-text {
    padding: 0 0 0 2rem;
    border-left: 0.5rem solid #64a19d;
  }
}

.projects-section .project-text {
  padding: 3rem;
  font-size: 90%;
}

@media (min-width: 992px) {
  .projects-section .project-text {
    padding: 5rem;
  }
  .projects-section .project-text hr {
    border-color: #64a19d;
    border-width: .25rem;
    width: 30%;
  }
}

.signup-section {
  padding: 10rem 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(22, 22, 22, 0.1)), color-stop(75%, rgba(22, 22, 22, 0.5)), to(#161616)), url("../img/bg-signup.jpg");
  background: linear-gradient(to bottom, rgba(22, 22, 22, 0.1) 0%, rgba(22, 22, 22, 0.5) 75%, #161616 100%), url("../img/bg-signup.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

.signup-section .form-inline input {
  -webkit-box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
  box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
  padding: 1.25rem 2rem;
  height: auto;
  font-family: 'Varela Round';
  font-size: 80%;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  border: 0;
}

.contact-section {
  padding: 5rem 0 0;
}

.contact-section .card {
  border: 0;
  border-bottom: 0.25rem solid #64a19d;
}

.contact-section .card h4 {
  font-size: 0.8rem;
  font-family: 'Varela Round';
  text-transform: uppercase;
  letter-spacing: 0.15rem;
}

.contact-section .card hr {
  border-color: #64a19d;
  border-width: 0.25rem;
  width: 3rem;
}

.contact-section .social {
  margin-top: 5rem;
}

.contact-section .social a {
  text-align: center;
  height: 3rem;
  width: 3rem;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 100%;
  line-height: 3rem;
  color: rgba(255, 255, 255, 0.3);
}

.contact-section .social a:hover {
  color: rgba(255, 255, 255, 0.5);
}

.contact-section .social a:active {
  color: #fff;
}

body {
  font-family: 'Nunito';
  letter-spacing: 0.0625em;
}

a {
  color: #e6e7e8 /* Aqui se cambia el color del link Original(#64a19d)*/
}

a:focus, a:hover {
  text-decoration: none;
  color: #3c6360;
}

.bg-black {
  background-color: #161616 !important;
}

.bg-primary {
  background-color: #64a19d !important;
}

.text-primary {
  color: #64a19d !important;
}

footer {
  padding: 5rem 0;
}
